# Ignore Mac system files
.DS_store

# Ignore the token file
token.txt

# Ignore Venv folder for virtual enviroments
venv/*
!.gitkeep

# Ignore runtimefiles folder
runtimefiles/*
!.gitkeep

# Ignore pycache
__pycache__

# Ignore custom database
*.db

#ignore cpython
*.cpython*

*.log